<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
    <nb-select placeholder="Select Faction"  >
      <nb-option *ngFor="let faction of factions" [value]="faction"  (click)="selectFaction(faction)">{{faction.name}}</nb-option>
    </nb-select>
    
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
    <app-stratagems-container  [faction]="this.selectedFaction"></app-stratagems-container>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
